In [2]:
import pandas as pd
import json

In [25]:
data = []
with open('../DL-Projects-master/Deep_Learning_Finalproject/raw_data/yelp_dataset_challenge_round9/yelp_academic_dataset_user.json') as file:
    for line in file:
        x = json.loads(line)
        data.append(x)

data2 = []
with open('../DL-Projects-master/Deep_Learning_Finalproject/raw_data/yelp_dataset_challenge_round9/yelp_academic_dataset_business.json') as file2:
    for line in file2:
        x = json.loads(line)
        data2.append(x)

data4 = []
with open('../DL-Projects-master/Deep_Learning_Finalproject/raw_data/yelp_dataset_challenge_round9/yelp_academic_dataset_review.json') as file4:
    for line in file4:
        x = json.loads(line)
        data4.append(x)

In [12]:
users_df = pd.DataFrame(data)

In [13]:
users_df.headad()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,elite,fans,friends,funny,name,review_count,type,useful,user_id,yelping_since
0,3.59,4192,79,4192,3904,19,305,4705,1347,2617,...,"[2017, 2015, 2016, 2014, 2011, 2013, 2012]",298,"[iJg9ekPzF9lkMuvjKYX6uA, ctWAuzS04Xu0lke2Rop4l...",12316,Rob,761,user,18456,EZmocAborM6z66rTzeZxzQ,2009-09-12
1,4.29,144,11,144,64,1,4,97,24,129,...,[None],34,"[r2UUCzGxqI6WPsiWPgqG2A, qewG3X2O4X6JKskxyyqFw...",28,Vivian,80,user,117,myql3o3x22_ygECb8gVo7A,2009-06-27
2,4.15,36,1,36,14,2,10,21,4,23,...,"[2011, 2016, 2017, 2013, 2014, 2015, 2012]",48,"[qewG3X2O4X6JKskxyyqFwQ, -50XWnmQGqBgEI-9ANvLl...",6,Carol,841,user,58,FIk4lQQu1eTe2EpzQ4xhBA,2010-08-26
3,3.82,54,6,54,32,0,5,13,1,29,...,"[2014, 2010, 2017, 2015, 2011, 2016, 2013, 201...",28,"[AIhfuFmX62k7a22gXXAB2Q, kQ1jU2rDpFD_q54edEmwI...",51,Miss Maggie,376,user,42,ojovtd9c8GIeDiB8e0mq2w,2008-05-31
4,2.97,0,0,0,0,0,0,0,0,0,...,[None],2,"[bvZkBCY-AvCsxRjd6Q-vEQ, KNEVNYeyNZApXG6HqOdsR...",3,Jeremy,28,user,8,uVEoZmmL9yK0NMgadLL0CQ,2013-01-17

In [15]:
bus_df = pd.DataFrame(data2)

In [16]:
bus_df.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,type
0,"227 E Baseline Rd, Ste J2","[BikeParking: True, BusinessAcceptsBitcoin: Fa...",0DI8Dt2PJp07XkVvIElIcQ,"[Tobacco Shops, Nightlife, Vape Shops, Shopping]",Tempe,"[Monday 11:0-21:0, Tuesday 11:0-21:0, Wednesda...",0,33.378214,-111.936102,Innovative Vapors,,85283,17,4.5,AZ,business
1,495 S Grand Central Pkwy,"[BusinessAcceptsBitcoin: False, BusinessAccept...",LTlCaCGZE14GuaUXUGbamg,"[Caterers, Grocery, Food, Event Planning & Ser...",Las Vegas,"[Monday 0:0-0:0, Tuesday 0:0-0:0, Wednesday 0:...",1,36.192284,-115.159272,Cut and Taste,,89106,9,5.0,NV,business
2,979 Bloor Street W,"[Alcohol: none, Ambience: {'romantic': False, ...",EDqCEAGXVGCH4FJXgqtjqg,"[Restaurants, Pizza, Chicken Wings, Italian]",Toronto,"[Monday 11:0-2:0, Tuesday 11:0-2:0, Wednesday ...",1,43.661054,-79.429089,Pizza Pizza,Dufferin Grove,M6H 1L5,7,2.5,ON,business
3,7014 Steubenville Pike,"[AcceptsInsurance: False, BusinessAcceptsCredi...",cnGIivYRLxpF7tBVR_JwWA,"[Hair Removal, Beauty & Spas, Blow Dry/Out Ser...",Oakdale,"[Tuesday 10:0-21:0, Wednesday 10:0-21:0, Thurs...",1,40.444544,-80.174540,Plush Salon and Spa,,15071,4,4.0,PA,business
4,321 Jarvis Street,"[BusinessAcceptsCreditCards: True, Restaurants...",cdk-qqJ71q6P7TJTww_DSA,"[Hotels & Travel, Event Planning & Services, H...",Toronto,None,1,43.659829,-79.375401,Comfort Inn,Downtown Core,M5B 2C2,8,3.0,ON,business

In [22]:
review_df = pd.DataFrame(data4)

In [23]:
review_df.head()

,business_id,cool,date,funny,review_id,stars,text,type,useful,user_id
0,2aFiy99vNLklCx3T_tGS9A,0,2011-10-10,0,NxL8SIC5yqOdnlXCg18IBg,5,If you enjoy service by someone who is as comp...,review,0,KpkOkG6RIf4Ra25Lhhxf1A
1,2aFiy99vNLklCx3T_tGS9A,0,2010-12-29,0,pXbbIgOXvLuTi_SPs1hQEQ,5,After being on the phone with Verizon Wireless...,review,1,bQ7fQq1otn9hKX-gXRsrgA
2,2aFiy99vNLklCx3T_tGS9A,0,2011-04-29,0,wslW2Lu4NYylb1jEapAGsw,5,Great service! Corey is very service oriented....,review,0,r1NUhdNmL6yU9Bn-Yx6FTw
3,2LfIuF3_sX6uwe-IR-P0jQ,1,2014-07-14,0,GP6YEearUWrzPtQYSF1vVg,5,Highly recommended. Went in yesterday looking ...,review,0,aW3ix1KNZAvoM8q-WghA3Q
4,2LfIuF3_sX6uwe-IR-P0jQ,0,2014-01-15,0,25RlYGq2s5qShi-pn3ufVA,4,I walked in here looking for a specific piece ...,review,0,YOo-Cip8HqvKp_p9nEGphw

In [29]:
print(len(users_df), len(bus_df), len(review_df))

1029432 144072 4153150

### Idea 1:
Build a recommendation system based on user ratings

### Idea 2:
Predict the ratings based on user review that was given by a specific user